<html lang=en>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>PostUp</title>
    <link rel="stylesheet" type="text/css" href="../css/MyStyle.css">
    <script type="text/javascript" src="../js/signup.js">
    </script>
</head>

<header>

    <form name="myform" onsubmit= "return validateForm()" method="post" action="/search">

        <a class="postup" href="/dashboard">
            PostUp
        </a>

        <a class=""  href="/dashboard">
            <img class="logo" src="../img/websiteLogo.png" />
        </a>

        <input type="text" name="q" id="searching" placeholder="Search Images"
           value="" class="searching popover_button" autocomplete="off"  />

     </form>

</header>

<div class="container">

    <div class="row">
        <div class="col-sm">
            <input class="newpost" name="newpost"  type="submit" onclick="location.href='/signin'" value="+ POST" />

        </div>
        <div class="col-sm">
            <input class="signupbutton" type="submit" onclick="location.href='/signup'" name="submit" value="SIGN UP" >
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
