<html lang="en">

<head>

    <title> Sign Up • Postup</title>
    <link rel="stylesheet" type="text/css" href="../css/MyStyle.css">
    <script type="text/javascript" src="../js/signup.js">
    </script>
</head>



<body>

<div class="signUPborder">

    <img class="signup-logo" src="../img/websiteLogo.png" alt="Can't display">
    <p class="introtext">PostUp</p>

    <form name="myformUP" onsubmit= "return validateFormUP()" method="post" >
        <table class="defaultTable" >
            <tr>
                <td> </td>
                <td><input class="signinbox" type= "text" id="Username" name= Username placeholder="Username" > </td>
            </tr>

            <tr>
                <td> </td>
                <td><input class="signinbox" type="email" id="Emailid"  name= Email placeholder="Email" > </td>
            </tr>

            <tr>
                <td> </td>
                <td><input class="signinbox" type= "password" id="Password" name= Password placeholder="Password" > </td>
            </tr>

            <tr>
                <td> </td>
                <td><input class="signinbox" type= "password" id="cPassword"  name= cPassword placeholder="Confirm Password" > </td>
            </tr>

            <tr>
                <td></td>
                <td><input class="upbutton" type = "submit" name= Login ></td></tr>
        </table>
    </form>

    <p class="textlink">Have an account? <a href="/signin" >Sign In</a></p>

</body>


</html>